<br>

<div class="jumbotron">
  <h1>HappyWedding！<br>Tatsuya ＆ Chikako </h1>
  <p>お祝いのメッセージを寄せましょう！</p>
  <p><%= link_to "お祝いメッセージを見る", twtexts_path , class: 'btn btn-default btn-lg' %></p>
  <%= image_tag '/top.jpg' , class: 'topimg' %>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_tag 'http://1.bp.blogspot.com/-nMTqgygyczs/VqtZItHn2_I/AAAAAAAA3ZY/5ZfrZPuZzbY/s180-c/bird_aoitori_bluebird.png' %>
    </a>
    <h3>メッセージを書く</h3>
    <p>お祝いメッセージを新規投稿できます</p>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_tag 'https://4.bp.blogspot.com/-nkz5J99956U/WWXXC6KF7zI/AAAAAAABFe0/Yn0TrjKgboklRHr07HLPJ6STtn7Oz7yOgCLcBGAs/s180-c/magnifier_animal_inu.png' %>
    </a>
    <h3>メッセージを見る</h3>
    <p>お祝いメッセージを閲覧できます</p>
  </div>
</div>
